.Mill {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.Mill .imgContainer {
  width: 49%;
  background: white;
  border-radius: 5px;
}
.Mill .imgContainer .imgCarousel {
  width: 100%;
}
.Mill .imgContainer .imgCarousel .imgCarContainer {
  width: 50%;
  margin: 30px auto;
  height: 400px;
}
.Mill .imgContainer .features33 {
  padding: 20px;
  background: white;
}
.Mill .imgContainer .features33 p {
  color: #19124f;
  font-weight: 600;
  font-size: 20px;
}
.Mill .imgContainer .features33 ul {
  padding: 20px 0 0 40px;
  font-size: 16px;
  font-weight: 400;
}
.Mill .imgContainer .features33 ul li {
  padding: 5px 0;
}
.Mill .descriptionTShirt {
  width: 50%;
  background: white;
  border-radius: 5px;
}
.Mill .descriptionTShirt .informContainer {
  width: 98%;
  margin: 5% 0% 5% auto;
  background: white;
  border-radius: 5px;
  padding: 20px;
}
.Mill .descriptionTShirt .informContainer .h2ts {
  font-size: 24px;
  font-weight: 600;
}
.Mill .descriptionTShirt .informContainer .design {
  font-size: 14px;
  padding: 5px 0;
  color: #757195;
}
.Mill .descriptionTShirt .informContainer .design span {
  font-weight: 600;
}
.Mill .descriptionTShirt .informContainer .price {
  font-size: 24px;
  font-weight: 600;
  color: #1240AB;
  padding: 5px 0;
}
.Mill .descriptionTShirt .informContainer .price span {
  color: #757195;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
}
.Mill .descriptionTShirt .informContainer .vat {
  font-size: 14px;
  color: #757195;
}
.Mill .descriptionTShirt .informContainer .color {
  font-size: 16px;
  color: black;
  padding: 10px 0;
}
.Mill .descriptionTShirt .informContainer .color span {
  padding: 0 10px 0 0;
  color: #19124f;
  font-weight: 600;
}
.Mill .descriptionTShirt .informContainer .colors {
  display: flex;
  margin: 0 0 10px 0;
}
.Mill .descriptionTShirt .informContainer .colors .black {
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 100%;
  margin: 0 0 0 10px;
  position: relative;
}
.Mill .descriptionTShirt .informContainer .colors .black img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.Mill .descriptionTShirt .informContainer .colors .black:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 3px white;
}
.Mill .descriptionTShirt .informContainer .colors .grey {
  width: 30px;
  height: 30px;
  background: #acadb0;
  border-radius: 100%;
  margin: 0 0 0 10px;
  position: relative;
}
.Mill .descriptionTShirt .informContainer .colors .grey img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.Mill .descriptionTShirt .informContainer .colors .grey:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 3px white;
}
.Mill .descriptionTShirt .informContainer .colors .blue {
  width: 30px;
  height: 30px;
  background: #8186aa;
  border-radius: 100%;
  margin: 0 0 0 10px;
  position: relative;
}
.Mill .descriptionTShirt .informContainer .colors .blue img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.Mill .descriptionTShirt .informContainer .colors .blue:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 3px white;
}
.Mill .descriptionTShirt .informContainer .colors .creme {
  width: 30px;
  height: 30px;
  background: #e5d6c5;
  border-radius: 100%;
  margin: 0 0 0 10px;
  position: relative;
}
.Mill .descriptionTShirt .informContainer .colors .creme img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.Mill .descriptionTShirt .informContainer .colors .creme:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 3px white;
}
.Mill .descriptionTShirt .informContainer .colors .red {
  width: 30px;
  height: 30px;
  background: #dd2121;
  border-radius: 100%;
  margin: 0 0 0 10px;
  position: relative;
}
.Mill .descriptionTShirt .informContainer .colors .red img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.Mill .descriptionTShirt .informContainer .colors .red:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 3px white;
}
.Mill .descriptionTShirt .informContainer .colors .kiwi {
  width: 30px;
  height: 30px;
  background: #a1c740;
  border-radius: 100%;
  margin: 0 0 0 10px;
  position: relative;
}
.Mill .descriptionTShirt .informContainer .colors .kiwi img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.Mill .descriptionTShirt .informContainer .colors .kiwi:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 3px white;
}
.Mill .descriptionTShirt .informContainer .colors .green {
  width: 30px;
  height: 30px;
  background: #026541;
  border-radius: 100%;
  margin: 0 0 0 10px;
  position: relative;
}
.Mill .descriptionTShirt .informContainer .colors .green img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.Mill .descriptionTShirt .informContainer .colors .green:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 3px white;
}
.Mill .descriptionTShirt .informContainer .colors .pink {
  width: 30px;
  height: 30px;
  background: #ffc7ca;
  border-radius: 100%;
  margin: 0 0 0 10px;
  position: relative;
}
.Mill .descriptionTShirt .informContainer .colors .pink img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.Mill .descriptionTShirt .informContainer .colors .pink:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 3px white;
}
.Mill .descriptionTShirt .informContainer .colors .purple {
  width: 30px;
  height: 30px;
  background: #541e68;
  border-radius: 100%;
  margin: 0 0 0 10px;
  position: relative;
}
.Mill .descriptionTShirt .informContainer .colors .purple img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.Mill .descriptionTShirt .informContainer .colors .purple:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 3px white;
}
.Mill .descriptionTShirt .informContainer .colors .gold {
  width: 30px;
  height: 30px;
  background: #f89f2b;
  border-radius: 100%;
  margin: 0 0 0 10px;
  position: relative;
}
.Mill .descriptionTShirt .informContainer .colors .gold img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.Mill .descriptionTShirt .informContainer .colors .gold:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 3px white;
}
.Mill .descriptionTShirt .informContainer .colors .darkRed {
  width: 30px;
  height: 30px;
  background: #5a1f32;
  border-radius: 100%;
  margin: 0 0 0 10px;
  position: relative;
}
.Mill .descriptionTShirt .informContainer .colors .darkRed img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.Mill .descriptionTShirt .informContainer .colors .darkRed:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 3px white;
}
.Mill .descriptionTShirt .informContainer .size {
  font-size: 16px;
  color: #19124f;
  font-weight: 600;
}
.Mill .descriptionTShirt .informContainer .sizes {
  display: flex;
  font-size: 16px;
  color: #19124f;
  font-weight: 600;
  border-radius: 20px;
  margin: 10px auto;
  justify-content: center;
}
.Mill .descriptionTShirt .informContainer .sizes:hover {
  cursor: pointer;
}
.Mill .descriptionTShirt .informContainer .sizes div {
  padding: 10px 25px;
  text-align: center;
}
.Mill .descriptionTShirt .informContainer .sizes .S {
  border-radius: 10px 0 0 10px;
  border: solid 2px #D6DADF;
}
.Mill .descriptionTShirt .informContainer .sizes .S:hover {
  background: #f2f2f6;
}
.Mill .descriptionTShirt .informContainer .sizes .M {
  border: solid 2px #D6DADF;
  border-left: none;
}
.Mill .descriptionTShirt .informContainer .sizes .M:hover {
  background: #f2f2f6;
}
.Mill .descriptionTShirt .informContainer .sizes .XXXL {
  border-radius: 0 10px 10px 0;
  border: solid 2px #D6DADF;
  border-left: none;
}
.Mill .descriptionTShirt .informContainer .sizes .XXXL:hover {
  background: #f2f2f6;
}
.Mill .descriptionTShirt .informContainer .guide {
  display: flex;
  color: #ff596f;
  font-weight: 600;
  font-size: 14px;
  align-items: center;
  margin: 0 0 10px 5%;
  border-radius: 100px;
  width: fit-content;
  padding: 5px 10px;
}
.Mill .descriptionTShirt .informContainer .guide:hover {
  cursor: pointer;
  background: #f2f2f6;
}
.Mill .descriptionTShirt .informContainer .guide img {
  height: 20px;
  width: 20px;
  margin: 0 10px 0 0;
}
.Mill .descriptionTShirt .informContainer .printLoc {
  font-size: 16px;
  color: #19124f;
  font-weight: 600;
  margin: 0 0 10px 0;
}
.Mill .descriptionTShirt .informContainer .location {
  display: flex;
  font-size: 18px;
  color: #19124f;
  font-weight: 600;
  margin: 0 0 30px 0;
}
.Mill .descriptionTShirt .informContainer .location div {
  padding: 10px 20px;
}
.Mill .descriptionTShirt .informContainer .location .front {
  border-radius: 5px 0 0 5px;
  border: solid 2px #D6DADF;
}
.Mill .descriptionTShirt .informContainer .location .front:hover {
  cursor: pointer;
  background: #f2f2f6;
}
.Mill .descriptionTShirt .informContainer .location .back {
  border-radius: 0 5px 5px 0;
  border: solid 2px #D6DADF;
  border-left: none;
}
.Mill .descriptionTShirt .informContainer .location .back:hover {
  cursor: pointer;
  background: #f2f2f6;
}
.Mill .descriptionTShirt .informContainer .btnts {
  display: flex;
  text-decoration: none;
  color: white;
  background: #ff596f;
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}
.Mill .descriptionTShirt .informContainer .btnts img {
  width: 25px;
  height: 25px;
  margin: 0 10px 0 0;
}
.Mill .descriptionTShirt .informContainer .btnts p {
  font-size: 16px;
  font-weight: 600;
}
.Mill .descriptionTShirt .delivery {
  display: flex;
  margin: 30px auto;
}
.Mill .descriptionTShirt .delivery img {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
}
.Mill .descriptionTShirt .delivery .devTitle {
  font-size: 16px;
  color: #19124f;
  font-weight: 600;
  margin: 0 0 10px 0;
}
.Mill .descriptionTShirt .delivery .devP {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.Mill .descriptionTShirt .starContainer p {
  font-size: 16px;
  color: #19124f;
  font-weight: 600;
  padding: 0 0 10px 0;
}
.Mill .descriptionTShirt .starContainer .stars {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Mill .descriptionTShirt .starContainer .stars img {
  width: 25px;
  height: 25px;
}
.Mill .descriptionTShirt .starContainer .stars .bar {
  width: 60%;
  background: #f2f2f6;
  border-radius: 20px;
  height: 7px;
  margin: 5px 20px;
}
.Mill .descriptionTShirt .starContainer .stars .bar .progressBar1 {
  background: #1240ab;
  width: 83%;
  height: 7px;
  border-radius: 20px;
}
.Mill .descriptionTShirt .starContainer .stars .bar .progressBar2 {
  background: #1240ab;
  width: 7%;
  height: 7px;
  border-radius: 20px;
}
.Mill .descriptionTShirt .starContainer .stars .bar .progressBar3 {
  background: #1240ab;
  width: 6%;
  height: 7px;
  border-radius: 20px;
}
.Mill .descriptionTShirt .starContainer .stars .bar .progressBar4 {
  background: #1240ab;
  width: 3%;
  height: 7px;
  border-radius: 20px;
}
.Mill .descriptionTShirt .starContainer .stars .bar .progressBar5 {
  background: #1240ab;
  width: 6%;
  height: 7px;
  border-radius: 20px;
}

.photosContainer {
  width: 60%;
  margin: 0 auto;
}
.photosContainer .photos {
  width: 100%;
  display: flex;
  max-width: 100%;
  justify-content: center;
}
.photosContainer .photos img {
  display: block;
  width: 20%;
  margin: 10px 2px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: transform 0.3s ease;
}
.photosContainer .photos img:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.selected {
  color: white;
  background: #07002f;
  border: solid 2px #07002f;
  border-radius: 5px 0 0 5px;
}
.selected:hover {
  color: white;
  background: #07002f;
}

.selected2 {
  color: white;
  background: #07002f;
  border: solid 2px #07002f;
  border-radius: 0 5px 5px 0;
}
.selected2:hover {
  color: white;
  background: #07002f;
}

#selected {
  color: white;
  background: #07002f;
  border-color: #07002f;
}
#selected:hover {
  color: white;
  background: #07002f;
}

#readReviews {
  font-size: 16px;
  font-weight: 600;
  display: block;
  padding: 15px 0;
  width: fit-content;
}
#readReviews:hover {
  cursor: pointer;
}

.mbappe {
  padding: 0 0 30px 0;
}

/*# sourceMappingURL=Mill.css.map */
