.sizeGuide {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 33;
  overflow: scroll;
  scrollbar-width: none; /* Для Firefox */
  -ms-overflow-style: none; /* Для IE та Edge */
  &::-webkit-scrollbar {
    display: none;
  }
}


.sizeGuideContainer {
  background: white;
  width: 60%;
  margin: 5vh auto;
  padding: 40px 20px;
  border-radius: 10px;
  transform: scale(0.5);
  transition: 0.4s all;
  .imgSvg {
    display: flex;
    justify-content: center;
  }

  .pSize {
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
    font-weight: 600;
    color: #07002f;
  }

  .gender {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    color: #07002f;
    margin: 20px 0;

    .men {
      padding: 10px 20px;
      border-radius: 5px 0 0 5px;
      border: solid 2px #D6DADF;

      &:hover {
        cursor: pointer;
        background: #f2f2f6;
      }

    }

    .women {
      padding: 10px 20px;
      border-radius: 0 5px 5px 0;
      border: solid 2px #D6DADF;
      border-left: none;

      &:hover {
        cursor: pointer;
        background: #f2f2f6;
      }

    }
  }
}

.show {
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
}

.menTable {
  display: flex;
  font-size: 16px;
  justify-content: center;

  .firstColum {
    font-weight: 600;
    border: 1px solid black;
    width: 10%;

    div {
      padding: 20px 30px;
      border: 1px solid black;
    }
  }

  .secondColum {
    width: 90%;
    text-align: center;
    border: 1px solid black;
    border-left: none;
    border-right: none;

    .Size {
      display: flex;
      font-weight: 600;
      justify-content: center;
      border: 1px solid black;
      border-left: none;

      p {
        padding: 20px 30px;
        width: 12.5%;
        display: block;
        border-right: 1px solid black;
        justify-content: center;
      }
    }

    .chest {
      display: flex;
      font-weight: 400;
      justify-content: center;
      border: 1px solid black;
      border-left: none;

      p {
        padding: 20px 30px;
        width: 12.5%;
        display: block;
        border-right: 1px solid black;
      }
    }

    .length {
      display: flex;
      font-weight: 400;
      justify-content: center;
      border: 1px solid black;
      border-left: none;

      p {
        padding: 20px 30px;
        width: 12.5%;
        display: block;
        border-right: 1px solid black;

      }
    }
  }
}

.find {
  font-weight: 600;
  font-size: 16px;
  color: #07002f;
  padding: 10px 0 5px 0;

}

.standart {
  font-weight: 400;
  font-size: 14px;
  padding: 0 0 30px 0;
}

.borderTop{
  border-bottom: 1px solid #07002f;
  div{
    width: 5%;
    height: 5px;
    background: #07002f;
    margin-left: 51%;
  }
}

.slim{
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
  color: #07002f;
  padding: 10px 0 30px 0;
}
.guideInfo{
  display: flex;
  justify-content: space-between;

  margin: 30px 0;
  .guideInfoContainer{
    h2{
      font-weight: 600;
      font-size: 16px;
      color: #07002f;
      padding: 20px 0;
    }
    p{
      font-weight: 400;
      font-size: 14px;
      padding: 5px 20px;

    }
  }
  .imgTShirt{
    padding-top: 60px;
  }
}
.productM{
  font-size: 13px;
  padding: 20px 0;
}

.returnsH2{
  font-weight: 600;
  font-size: 16px;
  color: #07002f;
  padding: 20px 0 5px 0;
}

.willHappy{
  font-weight: 400;
  font-size: 14px;
}

.closeGuide{
  width: 50px;
  height: 50px;
  position: fixed;
  top: 30px;
  right: 30px;
  &:hover{
    cursor: pointer;
  }
}