@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

header{
  text-align: center;
  padding: 5px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: start;
  h1{
    font-family: 'Gruppo', sans-serif;
  }
  img{
    width: 90px;

  }
}