@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #f2f2f6;
}

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

#stats, .count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

#photoSlider {
  height: 300px;
}

#photoSlider2 {
  width: 200px !important;
  height: 300px;
}

@media screen and (max-device-width: 500px) {
  .App {
    overflow-x: hidden;
  }
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media screen and (max-device-width: 500px) {
  .video-background {
    display: none;
  }
}

.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.flexxx {
  display: flex;
}
@media screen and (max-device-width: 500px) {
  .flexxx {
    display: block;
  }
}

.flex1 {
  display: flex;
}

.slick-dots .slick-active {
  width: 15px;
  height: 15px;
  background: #262626;
  position: relative;
  z-index: 33;
  border-radius: 100%;
  opacity: 1;
}

.slick-dots {
  color: #262626;
}

.slick-dots li button:focus:before {
  opacity: 0.15;
}

.slick-dots li.slick-active button:before {
  opacity: 0;
}

.show {
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
}

.slick-dots li {
  background: black;
  border-radius: 100%;
  list-style-type: none;
  list-style: none;
  opacity: 0.15;
  width: 15px;
  height: 15px;
  margin: 0 10px;
}

.slick-arrow {
  background: none;
  z-index: 5;
  top: 30%;
}

.slick-prev {
  left: 0px;
  z-index: 5;
}

.slick-next {
  z-index: 5;
  right: 20px;
}

#cusPrev {
  background-image: url("https://i.pinimg.com/originals/ab/25/be/ab25bebbf49973487ef2e2cb07d0c2b4.png");
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  left: 0px;
  top: 30%;
  opacity: 0.3;
}

#cusNext {
  background-image: url("https://i.pinimg.com/originals/40/ab/4a/40ab4a67d00b9b5b01115d2909f6887b.png");
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  top: 30%;
  height: 100px;
  right: 0px;
  opacity: 0.3;
}

.slick-prev:before,
.slick-next:before {
  opacity: 0;
  content: "";
}

.slick-dots li {
  background: black;
  border-radius: 100%;
  list-style-type: none;
  list-style: none;
  opacity: 0.15;
  width: 15px;
  height: 15px;
  margin: 0 10px;
}

.slick-arrow {
  background: none;
  z-index: 5;
  top: 30%;
}

.slick-prev {
  left: 0px;
  z-index: 5;
}

.slick-next {
  z-index: 5;
  right: 20px;
}

.odd {
  text-align: center;
  font-size: 10px;
}

/*# sourceMappingURL=App.css.map */
